[project]
name = "devops-miniproj"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.2",
    "pandas>=2.1.4",
    "pycaret>=3.3.2",
]
